<a href="https://colab.research.google.com/github/gdlhs2000/cli-test/blob/main/f_string_dict_if_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print문에 변수를 함께 출력하는 방법 (f-string)

In [ ]:
print("Hello")

Hello

In [ ]:
a = 30
print("숫자 a는 " + str(a) + " 입니다.")

숫자 a는 30 입니다.

In [ ]:
b = 150
print(f"f-string 문법을 이용한  숫자 b 출력 = {b}")

f-string 문법을 이용한  숫자 b 출력 = 150

In [ ]:
pie = 3.14159265358979323846264338327950288
print(f"원주율 = {pie}")

원주율 = 3.141592653589793

In [ ]:
pie = 3.14159265358979323846264338327950288
print(f"원주율 (반올림) = {pie:.2f}")

원주율 (반올림) = 3.14

In [ ]:
print(f"{pie*2 + 10}")

16.283185307179586

# 이름을 붙여 변수를 저장하는 사전, dict

In [ ]:
my_dict = {}
my_dict

{}

In [ ]:
my_dict = {
    '이름': '홍길동',
    '강의': '원티드',
    '키': 185,
    'pie': 3.141592,
    '리스트': [1,2,3,4,5]
}
my_dict

{'pie': 3.141592, '강의': '원티드', '리스트': [1, 2, 3, 4, 5], '이름': '홍길동', '키': 185}

In [ ]:
my_dict['이름']

'홍길동'

In [ ]:
my_dict['pie']

In [ ]:
my_dict['리스트']

In [ ]:
my_dict['리스트'][3]

In [ ]:
# 기존의 key에 대한 value 수정하기
my_dict['이름'] = '임꺽정'

In [ ]:
# 새로운 key와 value 추가하기
my_dict['직업'] = '의적'

In [ ]:
my_dict

In [ ]:
my_dict.keys()

In [ ]:
my_dict.values()

# if ~ elif ~ else로 원하는 조건 테스트 하기

In [ ]:
numbers = [1, 2, 3, 4, 5, 7, 9, 12, 14, 18]

for n in numbers:
    if n < 5:
        print(f"{n}은 5보다 작습니다.")

1은 5보다 작습니다.
2은 5보다 작습니다.
3은 5보다 작습니다.
4은 5보다 작습니다.

In [ ]:
numbers = [1, 2, 3, 4, 5, 7, 9, 12, 14, 18]

for n in numbers:
    if n < 5:
        print(f"{n}은 5보다 작습니다.")
    elif n % 2 == 0:
        print(f"{n}은 2로 나누어 떨어집니다.")
    else:
        print(f"{n}은 else문에서 출력됨 (둘 다 아님)")

1은 5보다 작습니다.
2은 5보다 작습니다.
3은 5보다 작습니다.
4은 5보다 작습니다.
5은 else문에서 출력됨 (둘 다 아님)
7은 else문에서 출력됨 (둘 다 아님)
9은 else문에서 출력됨 (둘 다 아님)
12은 2로 나누어 떨어집니다.
14은 2로 나누어 떨어집니다.
18은 2로 나누어 떨어집니다.

In [ ]:
numbers = [1, 2, 3, 4, 5, 7, 9, 12, 14, 18]

for n in numbers:
    if n < 5:
        print(f"{n}은 5보다 작습니다.")

    if n % 2 == 0:
        print(f"{n}은 2로 나누어 떨어집니다.")

    if n % 3 == 0:
        print(f"{n}은 3으로 나누어 떨어집니다.")

1은 5보다 작습니다.
2은 5보다 작습니다.
2은 2로 나누어 떨어집니다.
3은 5보다 작습니다.
3은 3으로 나누어 떨어집니다.
4은 5보다 작습니다.
4은 2로 나누어 떨어집니다.
9은 3으로 나누어 떨어집니다.
12은 2로 나누어 떨어집니다.
12은 3으로 나누어 떨어집니다.
14은 2로 나누어 떨어집니다.
18은 2로 나누어 떨어집니다.
18은 3으로 나누어 떨어집니다.

In [ ]:
numbers = [1, 2, 3, 4, 5, 7, 9, 12, 14, 18]

for n in numbers:
    if n < 9:
        print(f"{n}은 9보다 작습니다.")

        if n % 2 == 0:
            print(f"{n}은 2로 나누어 떨어집니다.")

1은 9보다 작습니다.
2은 9보다 작습니다.
2은 2로 나누어 떨어집니다.
3은 9보다 작습니다.
4은 9보다 작습니다.
4은 2로 나누어 떨어집니다.
5은 9보다 작습니다.
7은 9보다 작습니다.